@font-face {
  font-family: constantine;
  src: url(./font/constantine.ttf);
}

.main-img {
  position: absolute;
  display: inline-block;
  width: 100%;
}

.search {
  margin-top: 10%;
}

.search-icon {
  position:relative;
  margin-top: 40%;
  margin-left: 43%;
  max-width: 10%;
}