@font-face {
  font-family: constantine;
  src: url(./font/constantine.ttf);
}

.fav-books{
  margin-top: 7%;
  background-color: whitesmoke;
  width: 100%;
}

.main-img {
  position: absolute;
  display: inline-block;
  width: 100%;
}

.search {
  margin-top: 10%;
}

.search-icon {
  position:relative;
  margin-top: 40%;
  margin-left: 43%;
  max-width: 10%;
}

.resutls {
  float-right:50%;
}

.fav-author {

}

.author {
  display: inline-block;
}

.fav-author {
  padding-top: 5%;
  margin-left: 20%;
}

@media only screen and (max-width: 700px) {
  .fav-author {
    margin-left: 2%;
  }
}

.fav-authors-text {
  font-family: constantine;

}