<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Book Ladder</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="header-image container-fluid">
    <div class="row">
      <img src="./img/books-header.jpg" class="main-img img-responsive">
      <div>
        <a href="#search" class='scroll'><img src="./img/search-icon.png" class="search-icon img-responsive"></a>
      </div>  
    </div>
  </div>
  <div class='fav-books container-fuild'>
    <div class="row">
      <div>
        <h1 class='fav-authors-text text-center'>Favorite Authors</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-xs-6 col-md-4 text-center">
          <img src="./img/hemingway.jpg" class="fav-author img-responsive" alt="hemingway" />
        </div>
        <div class="col-xs-6 col-md-4 text-center">
          <img src="./img/freud.jpg" class="fav-author img-responsive" alt="freud" />
        </div>
        <div class="col-xs-6 col-md-4 text-center">
          <img src="./img/republic.jpg" class="fav-author img-responsive" alt="plato" />
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-xs-6 col-md-4 text-center">
              <img src="./img/shakespeare.jpg" class="fav-author img-responsive" alt="shakespeare" />
            </div>
            <div class="col-xs-6 col-md-4 text-center">
              <img src="./img/ulysses.jpg" class="fav-author img-responsive" alt="ulysses" />
            </div>
            <div class="col-xs-6 col-md-4 text-center">
              <img src="./img/alice.jpg" class="fav-author img-responsive" alt="alice" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='kindle-reading container-fuild'>
    <div class='row col-md-5'>
      <div class='what is site'>
        <h1>What is Book Ladder?</h1>
        <p>Book ladder is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam soluta aliquam aut. Dicta eius possimus, libero aspernatur voluptatum, facere minus quos odit error non iure doloribus voluptate eveniet consequatur qui?</p>
        <p>Book ladder is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam soluta aliquam aut. Dicta eius possimus, libero aspernatur voluptatum, facere minus quos odit error non iure doloribus voluptate eveniet consequatur qui?</p>
      </div>
    </div>
    <div class="row col-md-offset-5">
      <img src="./img/kindle-reading.jpg" class="kindle img-responsive" alt="kindle reading" />
    </div>  
  </div>
  <div class='search container-fuild'>
    <div id='search'>
      <div class='results' ng-controller='authorSearch as author'>
        <div class='row author col-xs-offset-3 col-sm-offset-8 col-md-offset-8 col-lg-offset-8'>
         <input type="text" ng-model='author.term' placeholder='Enter Author'>
         <button type="button" class="btn btn-primary" ng-click='author.search()'>Search</button>
       </div>
       <table class="table">
        <tr ng-repeat="book in author.books">
          <td>{{book.volumeInfo.title}}</td>
          <td>{{book.volumeInfo.subtitle}}</td>
          <td><em>by</em></td>
          <td>{{book.volumeInfo.authors}}</td>
          <td>{{book.searchInfo.textSnippet}}</td>
          <td><em>published</em></td>
          <td>{{book.volumeInfo.publishedDate}}</td>
          <td><a ng-href="{{book.volumeInfo.previewLink}}"/>Preview</a></td>
          <td><img ng-src="{{book.volumeInfo.imageLinks.smallThumbnail}}" alt="thumbnail" /></td>
          <td><a ng-show="book.accessInfo.pdf.isAvailable" ng-href="{{book.accessInfo.pdf.downloadLink}}"/>download</a></td>
        </tr>
      </table>
    </div>
    <div class='title-results' ng-controller='titleSearch as title'>
      <div class='row author col-xs-offset-3 col-sm-offset-8 col-md-offset-8 col-lg-offset-8'>
        <input type="text" ng-model='title.term' placeholder='Enter Title'> 
        <button type="button" class="btn btn-primary" ng-click='title.search()'>Search</button>
      </div> 
      <table class="table">
        <tr ng-repeat="title in title.books" >
          <td>{{title.volumeInfo.title}}</td>
          <td>{{title.volumeInfo.subtitle}}</td>
          <td><em>by</em></td>
          <td>{{title.volumeInfo.authors}}</td>
          <td>{{title.searchInfo.textSnippet}}</td>
          <td><em>published</em></td>
          <td>{{title.volumeInfo.publishedDate}}</td>
          <td><a ng-href="{{title.volumeInfo.previewLink}}"/>Preview</a></td>
          <td><img ng-src="{{title.volumeInfo.imageLinks.smallThumbnail}}" alt="thumbnail" /></td>
          <td><a ng-show="title.accessInfo.pdf.isAvailable" ng-href="{{title.accessInfo.pdf.downloadLink}}"/>download</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Modules -->
<script src='./app.js'></script>
<!-- Controllers -->
<script src='controllers/MainController.js'></script>
<script src='js/main.js'></script>
</body>
</html>
<!-- 
Icons made by Freepik from www.flaticon.com</div> -->